.list__container {
	display: flex;
	flex-direction: column;
}

.list__item {
	display: flex;
	justify-content: space-between;
	padding: 1rem;
	border-bottom: 1px solid rgba(0,0,0,.1);
	background-color: rgb(0,200,0,.1);
}

.list__item:last-child {
	border-bottom: none;
}

.list__item:nth-child(even) {
	background-color: rgba(200,200,0,.1);
}

.checkbox {
	-webkit-appearance: none;
	background-color: #fafafa;
	padding: 9px;
	border-radius: 3px;
	display: inline-block;
	position: relative;
}